#formRegistration {
    width: 50%;
    box-shadow: 0 0 10px #cccccc;
    padding: 15px;
    border-radius: 10px;
}

.formRegistartion__label {
    width: 200px;
}

.formRegistration__content {
    width: 50%;
    margin: 0 auto;
}